body{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.nav-bar h1{
   text-align: center;
   font-size: 4vh;
}

.nav-bar{
    width: 30%; 
    
}
.nav-bar ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin-right: 30px;
}

.nav-bar ul li{
    list-style: none;
    border: 1px solid black;
    display: flex;
    width: 300px;
    margin: 3vh;
    padding: 2vh;
    font-size: 2.2vh;
    left: 2px;
   
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
}
section{

    padding: 20px;
    font-size: 2.5vh;
}